---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I have taught undergraduate-level classes at Virginia Tech in lecture-style and active-learning-style mode. These include programming classes in C/C++ (CS 1044), Java (CS 1054), and Software Design (CS 1114). For the past three years, I have been a teaching assistant in Introduction to Computational Thinking (CS 1014), which is aimed at non-computing majors and contextualized around examining the societal impact of data. I will be the instructor of record for this class in Spring 2021.  


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
